.area-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#area {
    width: 300px;
    height: 300px;
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 34px;
    color: brown;
    justify-content: center;
    align-items: center;
}
#modal-result-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
}
/*
#overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
#modal-window{
    width: 50%;
    height: 50%;
    border: 1px solid black;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}*/
h1{
    text-align: center;
}

#btn-close{
    width: 150px;
    height: 30px;
    background-color: rgb(131, 14, 14);
    color: white;
   text-align: center;
   cursor: pointer;
}
#round{
    font-size: 6ch;
    text-align: center;
}
#users{
    font-size: 4ch;
    text-align: center;
}
#content{
    text-align: center;
}
#new-wrapper{
    align-items: center;
    justify-content: center;
    position: relative;
}
#resetGame{
    text-align: center;
    text-decoration: underline;
    cursor: default;
}